{% if include.bgColour %}
  {% assign resolvedBgColour = include.bgColour %}
{% else %}
  {% assign resolvedBgColour = include.navbarColour %}
{% endif %}


<nav class="navbar navbar-expand-lg navbar-{{ include.navbarColour | default: "light" }} bg-{{ resolvedBgColour | default: "light" }}">
  {% if include.brand %}<a class="navbar-brand" href="{{ "/" | absolute_url }}">{{ include.brand }}</a>{% endif %}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% for nav in include.navs %}
        <li class="nav-item{% if nav.subNavs[0] %} dropdown{% endif %}{% if nav.link == page.url %} active{% endif %}">
          {% if nav.subNavs[0] %}
            {% capture dropdownId %}navbarDropdownMenuLink{{ forloop.index0 }}{% endcapture %}
            <a class="nav-link dropdown-toggle" href="#" id="{{ dropdownId }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% if nav.icon %}<i class="fa fa-{{ nav.icon }}" aria-hidden="true"></i>{% endif %}
              {{ nav.name }}
            </a>
            <div class="dropdown-menu" aria-labelledby="{{ dropdownId }}">
              {% for subNav in nav.subNavs %}
                {% capture subNavLinkPrefix%}{{subNav.link | slice: 0 }}{% endcapture %}
                {% if subNavLinkPrefix == "/" %}
                  {% capture subNavLink %}{{subNav.link | absolute_url}}{% endcapture %}
                {% else %}
                  {% assign subNavLink = subNav.link %}
                {% endif %}
                <a class="dropdown-item{% if subNavLink == page.url %} active{% endif %}" href="{{ subNavLink }}"
                  {% if subNav.newWindow %}target="_blank"{% endif %}>
                  {% if subNav.icon %}<i class="fa fa-{{ subNav.icon }}" aria-hidden="true"></i>{% endif %}
                  {{ subNav.name }}
                </a>
              {% endfor %}
            </div>
          {% else %}
            {% capture navLinkPrefix%}{{nav.link | slice: 0 }}{% endcapture %}
            {% if navLinkPrefix == "/" %}
              {% capture navLink %}{{nav.link | absolute_url}}{% endcapture %}
            {% else %}
              {% assign navLink = nav.link %}
            {% endif %}
            <a class="nav-link" href="{{ navLink }}"{% if nav.newWindow %} target="_blank"{% endif %}>
              {% if nav.icon %}<i class="fa fa-{{ nav.icon }}" aria-hidden="true"></i>{% endif %}
              {{ nav.name }}
            </a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    <form class="form-inline my-2 my-lg-0"
          action="{% if page.tipue_search_active or layout.tipue_search_active %}{{ page.url | absolute_url }}{% else %}{{ site.default_search_page | absolute_url }}{% endif %}">
      <input class="form-control mr-sm-2" type="text" name="q" id="tipue_search_input" placeholder="Search" aria-label="Search">
      <button class="btn btn-primary my-2 my-sm-0" type="submit" aria-label="Search">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </form>
  </div>
</nav>