<a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ page.url | absolute_url | uri_escape }}"
   rel="nofollow" target="_blank" title="Tweet" aria-label="Tweet" style="color:#1DA1F2;text-decoration:none;">
  <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
</a>
<a href="https://facebook.com/sharer.php?u={{ page.url | absolute_url | uri_escape }}" rel="nofollow"
   target="_blank" title="Share on Facebook" aria-label="Share on Facebook" style="color:#3B5998;text-decoration:none;">
  <i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i>
</a>
<a href="https://plus.google.com/share?url={{ page.url | absolute_url | uri_escape }}" rel="nofollow"
   target="_blank" title="Share on Google+" aria-label="Share on Google+" style="color:#DB4437;text-decoration:none;">
  <i class="fa fa-google-plus-official  fa-3x" aria-hidden="true"></i>
</a>